h1, h2 {
    font-family: 'Cinzel', serif;
}

h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial;
}

p, a, li {
    font-family: "Source Sans Pro", Arial;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
    align-items: center;
}

#content {
    max-width: 600px;
    margin: 0 auto;
}

.nametag-left {
    float: left;  margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nametag-right {
    text-align: center;
    padding: 35px 0;
}

.nametag {
    border-radius: 10px;
    background-color: #040425;
    color: #3cbd58;
    overflow: hidden;
}

.nametag img {
    max-width: 100px;
}

.index-disclaimer {
    text-decoration: overline;
    font-style: italic;
}

footer {
    border-radius: 10px;
    background-color: #040425;
    color: #3cbd58;
    text-align: center;
    padding: 10px 0;
}